#movies img, #movie img {
    width: 100%;
}

@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 390px;
    }
}

#movies .col-md-3 img {
    height: 290px;
}

a {
    text-decoration: none;
}

table{
    height: 100%;
}
table td {
    font-size: 20px;
}
